<mat-card>
  <mat-card-header>
    <mat-card-title>
      <app-detail-header
        [title]="fullName"
        [id]="item.id"
        [endpoint]="usersEndpoint"
        [disabled]="(disabled$ | async) === true"
        [deleted]="(deleted$ | async) === true"
        (delete)="deleteItem(item.id)"></app-detail-header>
    </mat-card-title>
    <mat-card-subtitle>Phone: {{ item.phone }}</mat-card-subtitle>
    <mat-card-subtitle>Email: {{ item.email }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>Born: {{ item.birthDate | date }}</div>
    <div>Address: {{ item.address.address }}, {{ item.address.city }}</div>
    <div>Education: {{ item.university }}</div>

    <mat-card-subtitle>Employment:</mat-card-subtitle>
    <mat-card-content> {{ item.company.name }} </mat-card-content>
    <mat-card-content>
      {{ item.company.department }}, {{ item.company.title }}
    </mat-card-content>
    <mat-card-content>
      {{ item.company.address.address }}, {{ item.company.address.city }}
    </mat-card-content>
  </mat-card-content>
  <img [src]="item.image" [alt]="fullName" />
</mat-card>
