<p *ngIf="deleted$ | async">DELETED</p>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      <app-detail-header
        [title]="fullName"
        [id]="item.id"
        [endpoint]="usersEndpoint"
        [deleting]="(disabled$ | async) === true"
        [deleted]="(deleted$ | async) === true"
        (delete)="deleteItem(item.id)"></app-detail-header>
    </mat-card-title>
    <mat-card-subtitle>Phone: {{ showItem(item.phone) }}</mat-card-subtitle>
    <mat-card-subtitle>Email: {{ showItem(item.email) }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>Born: {{ showItem(item.birthDate | date) }}</div>
    <div>
      Address: {{ combineItems(', ', item.address.address, item.address.city) }}
    </div>
    <div>Education: {{ showItem(item.university) }}</div>

    <mat-card-subtitle>Employment:</mat-card-subtitle>
    <mat-card-content> {{ showItem(item.company.name) }} </mat-card-content>
    <mat-card-content>
      {{ combineItems(', ', item.company.department, item.company.title) }}
    </mat-card-content>
    <mat-card-content>
      {{
        combineItems(
          ', ',
          item.company.address.address,
          item.company.address.city
        )
      }}
    </mat-card-content>
  </mat-card-content>
  <img *ngIf="item.image" [src]="item.image" [alt]="fullName" />
</mat-card>
