<mat-card>
  <mat-card-header>
    <mat-card-title>
      <app-detail-header
        [title]="fullName"
        [id]="user.id"
        [endpoint]="usersEndpoint"></app-detail-header>
    </mat-card-title>
    <mat-card-subtitle>Phone: {{ user.phone }}</mat-card-subtitle>
    <mat-card-subtitle>Email: {{ user.email }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>Born: {{ user.birthDate | date }}</div>
    <div>Address: {{ user.address.address }}, {{ user.address.city }}</div>
    <div>Education: {{ user.university }}</div>

    <mat-card-subtitle>Employment:</mat-card-subtitle>
    <mat-card-content> {{ user.company.name }} </mat-card-content>
    <mat-card-content>
      {{ user.company.department }}, {{ user.company.title }}
    </mat-card-content>
    <mat-card-content>
      {{ user.company.address.address }}, {{ user.company.address.city }}
    </mat-card-content>
  </mat-card-content>
  <img [src]="user.image" [alt]="fullName" />
</mat-card>
