<app-overview-list
  *ngIf="data$ | async as data"
  [items]="data.data"
  [total]="data.total"
  [loading]="data.loading"
  [showSearch]="false"
  (loadData)="loadData($event)">
  Carts
  <ng-template #itemTemplate let-cart>
    <app-overview-card [link]="[cart.id]" [title]="'Cart ID: ' + cart.id">
      <mat-card-subtitle *ngFor="let prod of cart.products">
        <div>
          <a mat-button [routerLink]="['/', productsEndpoint, prod.id]">
            {{ showItem(prod.title) }}
          </a>
          {{ getProductPriceAndQuantity(prod) }}
        </div>
      </mat-card-subtitle>
      <mat-card-subtitle class="total">
        Total: {{ showItem(cart.total) }}
      </mat-card-subtitle>
      <mat-card-subtitle>
        After discount: {{ showItem(cart.discountedTotal) }}
      </mat-card-subtitle>
    </app-overview-card>
  </ng-template>
</app-overview-list>
