<h1>{{ title }}</h1>

<form [formGroup]="form" (ngSubmit)="handleSubmit()">
  <app-input formControlName="firstName">First name</app-input>
  <app-input type="number" formControlName="age">Age</app-input>
  <app-input type="email" formControlName="email">E-Mail</app-input>
  <legend>Address</legend>
  <fieldset formGroupName="address">
    <app-input formControlName="address">Address</app-input>
    <app-input formControlName="city">City</app-input>
    <app-input formControlName="postalCode">Postal code</app-input>
    <app-input formControlName="state">State</app-input>
  </fieldset>
  <button
    mat-raised-button
    type="submit"
    color="primary"
    [disabled]="(formDisabled$ | async) === true">
    Submit
  </button>
</form>
