<ng-container *ngIf="images.length">
  <div
    *ngIf="sliderState$ | async as data"
    class="container"
    [ngStyle]="{ 'height.px': data.height.height || 'auto' }">
    <button
      mat-mini-fab
      aria-label="Previous image"
      title="Previous image"
      color="primary"
      [disabled]="previousDisabled"
      (click)="handleSlide(-1)">
      <mat-icon>chevron_left</mat-icon>
    </button>

    <img
      [src]="images[data.index].src"
      [alt]="images[data.index].alt"
      [@slideInOut]="data.state"
      (load)="handleImageLoad()" />

    <button
      mat-mini-fab
      aria-label="Next image"
      title="Next image"
      color="primary"
      [disabled]="nextDisabled"
      (click)="handleSlide(1)">
      <mat-icon>chevron_right</mat-icon>
    </button>

    <ng-container *ngIf="data.height.calculated < images.length">
      <img
        *ngFor="let image of images"
        class="height-image"
        [src]="image.src"
        (load)="handleHeightImageLoad($event)" />
    </ng-container>
  </div>
</ng-container>
