:host {
  display: flex;
  justify-content: center;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  max-height: 800px;
}

img {
  position: absolute;
  visibility: hidden;
  max-width: min(100%, 800px);
}

img:not(.height-image) {
  position: relative;
  visibility: visible;
  max-height: 100%;
  max-width: min(calc(100% - 5rem), 800px);
}

button {
  margin-inline: 0.25rem;
}
