:host {
  display: flex;
  justify-content: center;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  max-width: 600px;
  max-height: 400px;
}

img {
  max-height: 100%;
  max-width: calc(100% - 5rem);
}

button {
  margin-inline: 0.25rem;
}
