:host ::ng-deep {
  .mat-mdc-card-header-text {
    width: 100%;
  }
}

p {
  font-size: 1.5rem;
  text-align: center;
}

app-image-slider {
  margin-inline: 1rem;
  max-width: calc(100% - 3rem);
}

mat-card > mat-card-content {
  margin-top: 0.5rem;

  mat-card-subtitle {
    margin-top: 0.5rem;
  }
}
