:host {
  display: flex;
  flex-direction: column;
}

nav {
  position: sticky;
  top: 0;
  z-index: 1000;

  app-google-auth {
    margin-left: auto;
  }
}

div {
  padding: 1rem;
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
}

mat-spinner {
  position: fixed;
  left: 50%;
  top: 8rem;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
