<app-overview-list
  *ngIf="data$ | async as data"
  [items]="data.data"
  [total]="data.total"
  [loading]="data.loading"
  (loadData)="loadData($event)">
  <ng-template #itemTemplate let-user>
    <app-overview-card
      [link]="[usersEndpoint, user.id]"
      [title]="user.firstName + ' ' + user.lastName"
      [subtitles]="['Phone: ' + user.phone, 'E-Mail: ' + user.email]"
      [imageSrc]="user.image"
      [imageAlt]="user.firstName + ' ' + user.lastName"></app-overview-card>
  </ng-template>
</app-overview-list>
