mat-card {
  width: 20rem;
  height: 25rem;
  overflow: hidden;

  &.text {
    height: 20rem;
  }

  &-header {
    flex-grow: 1;
    flex-direction: column;
  }
}

a {
  margin-left: -0.5rem;
  height: max-content !important;
  line-height: 1.5rem;
}

img {
  margin-top: 1rem;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
