<app-overview-list
  *ngIf="data$ | async as data"
  [items]="data.data"
  [total]="data.total"
  [loading]="data.loading"
  (loadData)="loadData($event)">
  Users
  <ng-template #itemTemplate let-user>
    <app-overview-card
      [link]="[user.id]"
      [title]="combineItems(' ', user.firstName, user.lastName)"
      [subtitles]="getSubtitles(user)"
      [imageSrc]="user.image"
      [imageAlt]="
        combineItems(' ', user.firstName, user.lastName)
      "></app-overview-card>
  </ng-template>
</app-overview-list>
