<h1>{{ title }}</h1>

<form [formGroup]="form" (ngSubmit)="handleSubmit()">
  <app-select
    *ngIf="users$ | async as users"
    formControlName="userId"
    [options]="users">
    User
  </app-select>
  <app-form-error [control]="userControl">User is required.</app-form-error>

  <fieldset formGroupName="products">
    <legend>Products</legend>
    <fieldset
      *ngFor="let control of productsControl.controls; index as i"
      class="product">
      <legend>Product #{{ i + 1 }}</legend>
      <div>
        <app-select
          *ngIf="products$ | async as products"
          [options]="products"
          [formControl]="getProductControl(i, 'id')">
          Product
        </app-select>
        <app-input
          type="number"
          [min]="1"
          [formControl]="getProductControl(i, 'quantity')">
          Quantity
        </app-input>
        <app-form-error [control]="getProductControl(i, 'quantity')">
          At least one item needs to be added.
        </app-form-error>
      </div>
      <button
        type="button"
        mat-icon-button
        color="primary"
        aria-label="Remove product"
        title="Remove product"
        [disabled]="formDisabled$ | async"
        (click)="removeControl(productsControl, i)">
        <mat-icon>delete</mat-icon>
      </button>
    </fieldset>

    <button
      type="button"
      mat-button
      color="primary"
      [disabled]="formDisabled$ | async"
      (click)="addControl()">
      Add product
    </button>
  </fieldset>

  Total: {{ total | number : '1.0-2' }}

  <button
    mat-raised-button
    type="submit"
    color="primary"
    [disabled]="(formDisabled$ | async) === true || !form.dirty || !form.valid">
    Submit
  </button>
</form>
